
* {
    box-sizing: border-box;
    margin:0; 
    padding:0
}
/* COLORES */
:root{
    --primario: #F83F21;
    --secundario: #FFF344;
    --celeste: #3DFBD3;
    --rojo: #fa3838;
    --blanco: white;
    --verde: #1e8a3a;
    --amarillo: #ffe900;
    --violeta: #0b202d;
}
/* FUENTES */
@font-face {
    font-family: chicago;
    src: url(fonts/ChicagoFLF.ttf);
    font-display: swap;
}
@font-face {
    font-family: silom;
    src: url(fonts/SilomBol.ttf);
    font-display: swap;
}
/* FONT FAMILYS*/

.chicago{
    font-family: chicago;
}
.silom{
    font-family: silom;
}

/* TAMAÑOS FUENTES */
.mediana{
    font-size: 2em;
}
.mediana-1{
    font-size: 2.5em;
}
.grande{
    font-size: 5em;
}
.grande-1{
    font-size: 4vw;
}

/* ANCHOS */
.w-70{
    width: 80%;
    height: auto; 
}
.w-65{
    width: 65%;
}
.w-20{
    width: 20%;
    height: auto;
}
.w-30{
    width: 30%;
    height: auto;
}
.w-60{
    width: 60%;
    height: auto; 
}
.w-50{
    width: 50%;
    height: auto; 
}
.w-55{
    width: 55%;
    height: auto; 
}
.plus{
    width: 6em;
    height: auto; 
    transform: rotate(-10deg);
    font-style: italic;
}

/* FONDOS*/
.bg-black{
    background-color: black;
}
.bg-primario{
    background-color: var(--primario);
}
.bg-secundario{
    background-color: var(--secundario);
}
.qr{
    background: url('../img/bg/qr-naranja.jpg');
}
.qr-v{
    background: url('../img/home/fl.png'), url('../img/bg/qr-violeta.jpg');
    background-position: top center, left top;
    background-repeat: no-repeat, repeat;
    background-size: contain, contain;

}
.qr-h{
    background: url('../img/bg/qr-h.jpg');
    background-size: 100% 64%;
    background-repeat: no-repeat;
}
.qr-n{
    background: url('../img/footer/qr-n.png');
}
.bg-flecha{
    background: url('../img/home/fl.png');
    background-repeat: no-repeat;
    background-position: top center;
    

}

/* RADIUS */
.rounded-5{
    border-radius: 2em;
}
.rounded-6{
    border-radius: 0.5em;
}
.border-secundario{
    border: 2px solid var(--secundario);
}
/*COLORES*/
.primario{
    color:var(--primario);
}
.secundario{
    color: var(--secundario);
}
.rojo{
    color: var(--rojo);
}
.celeste{
    color: var(--celeste);
}
.blanco{
    color: var(--blanco);
}
.amarillo{
    color:var(--amarillo);
}
.negro{
    color: black;
}
.violeta{
    color: var(--violeta);
}
/* TEXT SHADOW */
.cuatro{
    text-shadow: 5px 5px var(--celeste);
    font-size: 8.5em;
    color: var(--rojo);
}
.sombra-negra{
    text-shadow: 3px 3px black;
}
.sombra-primaria{
    text-shadow: 3px 3px var(--primario);
}
/* ROTATE */
.rotacion{
    transform: rotate(-10deg);
}
/* HTML y GENERALES */
html {
  scroll-behavior: smooth;
}
body,html{
    height: 100vh;
    width: 100%;
    background-color: var(--primario);
}
img {
    aspect-ratio: attr(width) / attr(height);
  }
/* HEADER */
.iconos-arriba {
    /*DISCORD TWITTER*/
    position: absolute;
    top: 8%;
    right:5%;
}
.iconos-volumen {
    /*DISCORD TWITTER*/
    position: absolute;
    top: 6%;
    right:22%;
}
.w80px{
    width: 80px;
    height: auto;
}
.banner{
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
}
.banner h4{
    font-size: 1.7em;
    animation: banner 30s linear infinite alternate;    
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

@keyframes banner {
    0%{
        transform: translateX(-100);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* MARGENES NEGATIVOS */
.mt-n1 {
    margin-top: -1.2rem !important;
}
.mt-n2 {
    margin-top: -2.1rem !important;
}
.mt-n3 {
    margin-top: -3rem !important;
}
/* Z-INDEX*/
.z1{
    z-index: 5;
}
.z0{
    z-index: 0;
}


/* MEDIA QUERY */
@media (max-width: 767.98px) {
    .cuatro{
        text-shadow: 2px 2px var(--celeste);
        font-size: 4.5em;
        color: var(--rojo);
    }
    .w-30{
        width: 80%;
        height: auto;
    }
    .w-60{
        width: 90%;
        height: auto; 
    }
    .w-50{
        width: 90%;
        height: auto;
    }
    .w-55{
        width: 90%;
        height: auto; 
    }
    .w-70{
        width: 90%;
        height: auto; 
    }
    .w-65{
        width: 90%;
        height: auto; 
    }
    .display-4{
        font-size: 1.7em;
    }
    .display-5{
        font-size: 1.5em;
    }
    .display-6{
        font-size: 1.5em;  
    }
    .mediana-1{
        font-size: 1.4em;
    }
    .grande-1{
        font-size: 6vw;
    }
    .iconos-arriba {
        /*DISCORD TWITTER*/
        position: absolute;
        top: 80%;
        right:55%;
    }
    .iconos-volumen {
        /*DISCORD TWITTER*/
        position: absolute;
        top: 77%;
        right:3%;
    }
}
